[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-ballchasing = "*"
requests = "*"
matplotlib = "*"
tk = "*"

[dev-packages]
flake8 = "*"
black = "==21.6b0"

[requires]
python_version = "3.9"
